*.pt.py
*.pyc
*.pyo
*.sw[opq]
/buildout.cfg
/.installed.cfg
/.mr.developer.cfg
/bin
/build
/develop-eggs
/dist
/docs/build
/etc
/include/
/lib/
/local
/parts
/src/Euphorie/
/src/NuPlone/
/src/tno.euphorie.egg-info
/var
pip-selfcheck.json
